version: '3.8'

services:
  app:
    image: binarybard7279/it-bgitu:latest
    restart: always
    expose:
      - "8000"
    env_file:
      - .env  
    depends_on:
      - db
   
    volumes:
      - media_data:/code/app/uploads

    networks:
      - itnet

  caddy:
    image: caddy:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - app
      - pgadmin
    networks:
      - itnet

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER} 
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - itnet

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: StrongPass123
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - itnet

volumes:
  postgres_data:
  caddy_data:
  caddy_config:
  pgadmin_data:
  media_data: 

networks:
  itnet:
    driver: bridge